
# Introduction to Python Workshop Fall 24

#### UCLA Statistics Club 2024


Python is a fairly beginner-friendly programming language with many applications, from AI/ML to Data Science. It is an important programming language to know for anyone interested to enter the field of Stats/Data Science. Our hope with this workshop is  to give you a basic introduction to Python so you can have a basic grasp of it as you continue to learn.

## Data Types


---



There are many different types of data types in base Python. Depending on what packages you import, you could include more. Four of the most commonly used ones, and the ones that'll be covered here are:


1.   `integer` (int): non-decimal real numbers
2.   `float` real numbers values with decimals
3.   `boolean` (bool): True & False
4.   `string` (str): any text data

In [1]:
print(2)
print(type(2))

2
<class 'int'>

In [2]:
print(2.0)
print(type(2.0))

2.0
<class 'float'>

In [3]:
print(True)
print(type(True))

True
<class 'bool'>

In [4]:
print('apple')
print(type('apple'))

apple
<class 'str'>

## Data Operators

Several types of operators can be applied to the different datatypes. Operators apply different operations on the data. There are 3 main classes of operators that will be covered: **Arithmetic Operators**, **Comparison Operators**, and **Logical Operators**.

### Arithmetic Operators:


---


Arithmetic operators are operators applied to integers & floats.  

The main arithmetic operators are:

1.   `Addition:` (+)
2.   `Subtraction:` (-)
3.   `Multiplication:` (*)
4.   `Exponential:` (**)
5.   `Division:` (/)
6.   `Floor Division:` (//)
7.   `Modulus:` (%)

In [5]:
# Addition
print(2 + 3)

5

In [6]:
# Subtraction
print(2 - 3)

-1

In [7]:
# Multiplication
print(2 * 3)

6

In [8]:
# Exponential
print(2 ** 3)

8

In [9]:
# Division
print(2 / 3)

0.6666666666666666

In [10]:
# Floor Division
print(2 // 3)

0

In [11]:
# Modulus
print(2 % 3)

2

Some arithmetic operators can also be applied to strings.

In [12]:
print('hello ' + 'world')
print('hello' * 3)

hello world
hellohellohello

#### Comparison Operators


---


Comparison operators compare two expressions to each other.

The main comparison operators are:

1.   `Equal:` (==) Checks if two expressions are equal.
2.   `Not equal:` (!=) Checks if two expressions are not equal.
3.   `Less than:` (<) Checks if the left-hand expression is less than the right-hand expression.
4.   `Greater than:` (>) Checks if the left-hand expression is greater than the right-hand expression.
5.   `Less than or equal to:` (<=) Checks if the left-hand expression is less than or equal tothe right-hand expression.
6.   `Greater than or equal to:` (>=) Checks if the left-hand expression is greater than or equal to the right-hand expression.

In [13]:
# Equal

2 == 2

True

In [14]:
# Not equal

'apple' != 'banana'

True

In [15]:
# Less than

15 <= 2

False

In [16]:
# Greater than

10 >= 20

False

#### Boolean Operators:


---

![grid-auto.png]()

Boolean operators are used to

The main boolean operators are:

1.   `and`: `True` if both statements are true, `False` otherwise
2.   `or`: `True` if either statement is true, `False` otherwise
3.   `not`: `True` if the given statement is false, `False` otherwise

In [17]:
# 2 is equal to 2 and 3 is equal to 3, thus it returns true

print((2 == 2) and (3 == 3))

True

In [18]:
# 3 is not equal to 2, thus one statement is false, and it returns False

print((3 == 2) and (3 == 3))

False

In [19]:
# 3 is not equal to 2, but 3 is equal to 3, so it returns True

print((3 == 2) or (3 == 3))

True

In [20]:
# 3 is not equal to 2, and 4 is not equal to 3 so it returns

print((3 == 2) or (4 == 3))

False

In [21]:
# since 2 is not equal to 3, which returns false, it will return true

print(not(2==3))

True

In [22]:
# since 3 is equal to 3, which returns true, it will return false

print(not(3==3))

False

## Exercise 1:

---

1.   Use Python to calculate the following computations:
  *   35 + 27
  *   26 * 13
  *   40 / 5

In [23]:
# a

35 + 27

62

In [24]:
# b

26 * 13

338

In [25]:
# c

40 / 5

8.0


2.   Edit the following examples such that they return True

In [26]:
# a

(2 <= 5) and (4 > 3)

True

In [27]:
# b

(3 == 3) or (4 != 4)

True

In [28]:
# c

not (((((5 == 5) or (8 > 2)) and not (7 < 3)) or ((9 == 9) and (4 > 12))) and (not ((14 <= 14) or (3 != 3) or (6 == 7))) and ((5 > 3) and not (7 > 9) or (10 <= 8)))

True

## Variables

---

Variables are pointers to data. When a variable is declared, an object is created in the computer's memory and the variable references the object's memory address. Think of variables as an address to a house where an object is residing in.

Variables can be used just like the information they are referencing (e.g. you can add variables carrying numbers together). Variables help organize scripts and remove redundacy.

In [29]:
name = 'John'
Name = 'Adam'
age = 20
print(name)
print(Name)
print(age)

a = 5
b = 10
print(a+b)

John
Adam
20
15

#### Variable Naming Conventions

---

The main conventions when naming variables are as follows:


1.   Variable must start with letter (a-z, A-Z) or underscore
2.   Variable may not start with a number
3.   Variable may only contain alphanumeric values (a-z, A-Z, _, 0-9)
4.   Variable names are case-sensitive

It is suggested that variable names reflect the information it is referencing (e.g. if I were to store my name, I'd store it in a variable called `name`)

In [30]:
# allowed

blood_type = 'A'

In [31]:
# not allowed

1blood_type = 'B'

SyntaxError: invalid decimal literal (<ipython-input-31-1c8c78ff112b>, line 3)

In [ ]:
# not allowed

blood_!_type = 'A'

## Data Structures

---

Data structures are useful in storing large amounts of data efficiently, allowing for us to easily access, update, and perform operations on them. The data structures that will be covered today are:



1.   `Lists`
2.   `Dictionaries`

#### Lists

Lists are ordered collections of objects which do not have to be of the same type. They are mutable, meaning you can edit them.

In [32]:
my_list = [1, 2, 3, 'apple', True, 15.6]
print(my_list)

[1, 2, 3, 'apple', True, 15.6]

There are some arithmetic operators which can be applied to lists.

In [33]:
print([1, 2, 3] + [4, 5, 6])
print([1, 2, 3] * 2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3]

You can access elements of a list by taking the variable name holding the list and passing through the index number (e.g. my_list[0]).

Other ways you can access values from a list are as follows:


1.   You can access the last nth values of the list by passing through the -n value. (e.g to access the last value, input in my_list[-1])
2.   You can access a sequence of elements in a list by passing through ':' and specifying which elements you want passed through. (e.g. if you want to pass through the 3rd to 5th element of a list (non-inclusive), you would want to input in my_list[3:5])

In [34]:
# accesses the 0th element of the list

print(my_list[0])

1

In [35]:
# accesses the -0th, or the last element of the list

print(my_list[-1])

15.6

In [36]:
# accesses the 3rd to 5th elements of the list, non-inclusive

print(my_list[3:5])

['apple', True]

In [37]:
# accessing the 3rd to -1st (last) element of a list, non-inclusive

print(my_list[3:-1])

['apple', True]

In [38]:
# if left empty, will return from 3rd element to the last element of the list, inclusive

print(my_list[3:])

# similarly, if the first part is left empty, will return the first element to the 4th element, non-inclusive

print(my_list[:4])

['apple', True, 15.6]
[1, 2, 3, 'apple']

Using the same idea, you can change the elements of a list accordingly.

In [39]:
print(my_list)
my_list[0] = 'cheese'
print(my_list)

[1, 2, 3, 'apple', True, 15.6]
['cheese', 2, 3, 'apple', True, 15.6]

##### Lists Built-in Functions

Lists have many built in functions. The full documentation is [here](https://www.geeksforgeeks.org/list-methods-python/#). Here are some of the more commonly used ones.


1.   `append(a):` appends an element `a` to the end of the list
2.   `extend(a):` adds each element of an iterable `a` to the end of the list
3.   `insert(n, a):` inserts element `a` at the index `n` of the list
4.   `remove(a):` removes element `a` from the list
5.   `pop(n):` removes the element from index `n` of a list
6.   `index(a):` returns the first instance of element `a` from the list
7.   `count(a):` returns the count of element `a` of the list
8.   `clear():` clears the list

In [40]:
demonstration = ['apple', 'strawberry', 'banana', 'strawberry']

In [41]:
# append

demonstration.append(11)
print(demonstration)

['apple', 'strawberry', 'banana', 'strawberry', 11]

In [42]:
# extend

demonstration.extend([12, 13, 14])
print(demonstration)

['apple', 'strawberry', 'banana', 'strawberry', 11, 12, 13, 14]

In [43]:
# insert

demonstration.insert(0, 'new 0')
print(demonstration)

['new 0', 'apple', 'strawberry', 'banana', 'strawberry', 11, 12, 13, 14]

In [44]:
# remove

demonstration.remove('new 0')
print(demonstration)

['apple', 'strawberry', 'banana', 'strawberry', 11, 12, 13, 14]

In [45]:
# pop

demonstration.pop(2)
print(demonstration)

['apple', 'strawberry', 'strawberry', 11, 12, 13, 14]

In [46]:
# index

print(demonstration.index('strawberry'))
print(demonstration)

1
['apple', 'strawberry', 'strawberry', 11, 12, 13, 14]

In [47]:
# count

print(demonstration.count('strawberry'))
print(demonstration)

2
['apple', 'strawberry', 'strawberry', 11, 12, 13, 14]

In [48]:
# clear

demonstration.clear()
print(demonstration)

[]

#### Dictionaries

---

Dictionaries are mutable, like lists. Instead of being ordered like lists, dictionaries map keys to values (i.e. you access elements of a dictionary with key values). Dictionaries can be created with curly braces {} with key : value. Keys can only be immutable objects (e.g strings or tuples).

In [49]:
my_dict = {'age': 20, 'name': 'John'}
print(type(my_dict))

<class 'dict'>

Dictionary elements can accessed similarly to elements of a list, by passing through the key.

In [50]:
my_dict['height']

KeyError: 'height'

##### Dictionary Built-in Functions

---


The full list of dictionary built-in functions are listed [here](https://www.w3schools.com/python/python_ref_dictionary.asp). Here is just a few of the more commonly used methods to demonstrate some of the dictionary's capabilities.


1.   `get(key, default):` gets corresponding value of the `key` in the dictionary, returns `default` if key is not in the dictionary
2.   `items():` returns all the key-value pairs in the dictionary as tuples
3.   `keys():` returns all the keys of the dictionary
4.   `values():` returns all the values of the dictionary
5.   `pop(key, default):` pops the key-value pair associated with `key`, returns `default` if key is nopt in the dictionary

In [51]:
# get value from my_dict with get

print(my_dict.get('age', 0))
print(my_dict.get('height', 0))

20
0

In [52]:
# shows the items of the dictionary

my_dict.items()

dict_items([('age', 20), ('name', 'John')])

In [53]:
# gets the keys from the dictionary

my_dict.keys()

dict_keys(['age', 'name'])

In [54]:
# gets the values from the dictionary

my_dict.values()

dict_values([20, 'John'])

In [55]:
# pops value associated with key

print(my_dict.pop('age', 0))
print(my_dict.pop('height', 0))

20
0

## Exercise 2:

---

1.   Given the following list:


```
exercise_list = [42, "apple", 3.14, True, "Python", 67, "banana", False, 12.5, "elephant"]
```
  *   Print the index of `12.5`
  *   Add the element `"Maybe"` to the list
  *   Remove `"apple"` from the list
  *   Print the 3rd to 7th elements of the list

In [56]:
exercise_list = [42, "apple", 3.14, True, "Python", 67, "banana", False, 12.5, "elephant"]

In [57]:
# a

exercise_list.index(12.5)

8

In [58]:
# b

exercise_list.append("Maybe")
print(exercise_list)

[42, 'apple', 3.14, True, 'Python', 67, 'banana', False, 12.5, 'elephant', 'Maybe']

In [59]:
# c

exercise_list.remove("apple")
print(exercise_list)

[42, 3.14, True, 'Python', 67, 'banana', False, 12.5, 'elephant', 'Maybe']

In [60]:
# d

print(exercise_list[3:7])

['Python', 67, 'banana', False]

2. Create a dictionary with the following key value pairs:

---

  *   Name: your name
  *   Year: your year
  *   Favorite food: your favorite food
  *   Favorite TV show: your favorite TV show

## Conditional Statements



#### If Statements

---

If statements are a way to structure condition based code. If a conditions holds, we can do a certain task.

The structure of an if statement is as follows:



```
if condition:
  do something
```



The example below shows how if is structured and demosntrates how the output of hte if statement only occurs when the condition is true.

In [61]:
car = "Mercedes"

if car == "Ford":
    print("American car")

if car == "Mercedes":
    print("German car")

German car

#### If, Elif, Else

---

To extend if statements, can use elif (meaning else if) and else.

Suppose there are multiple conditions and we want different tasks based on, which condition is satisfied.

 We can use elif and else after if:

 - We can start with an if statement.
 - If there are 3 or more conditions, use elif to mean all previous conditions failed
 - check this new condition
 - At the end, use else, which will represent any outcome outside the previous conditions


An example is shown below with a simple if-elif-else structure. As shown, the output is from code within else since y is larger than x (3 > 1)

In [62]:
x = 3
y = 3

if x > y:
    print("x is larger")
elif x == y:
    print ("they are equal")
else:
    print ("y is larger")

they are equal

## Exercise 3
---

Here is a if-elif-else usign randomly chosen numbers.

Predict the possible results. Try running many times to see if the result ever changes.

In [63]:
import random

x = random.randint(1,3) # x will be a random integer between 1 and 3 inclusive
y = random.randint(3,7) # y will be a random integer between 3 and 7 inclusive

if x > y:
    print("x is larger")
elif x == y:
    print ("they are equal")
else:
    print ("y is larger")

y is larger

## Loops

#### For Loops

---

For loops are loops which iterate through a certain command (or sequences of them) a set number of times. This is especially useful if you need to run a certain command a specific number of times. It is called by using the `for` command. The structure of a for loop is as follows:

```
for var in iterable:
  do some task
```

where iterables are ordered sequences of elements (strings, lists, etc).

What a for loop does is it goes through iterable objects (lists, strings, etc) and executes items on them. On the bottom example, it is iterating through a range object. A range function can have up to 3 inputs:

`range(start, stop, step): start is the start place, stop is the stop place (non-inclusive), and step is the step size`

In [64]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [65]:
# example range function output

list(range(1, 10, 2))

[1, 3, 5, 7, 9]

For loops can also iterate through other iterables like lists and strings.

In [66]:
my_list = [1, 'apple', 'string', 'cheese', 45]
for i in my_list:
  print(i)

1
apple
string
cheese
45

In [67]:
my_string = 'apple'
for i in my_string:
  print(i)

a
p
p
l
e

#### While Loops

While statements are an effective way to repeat tasks when a condition holds.

Similar to if, we start with while and the condition we want satisfied.

Afterwards, we put in code we want to run while the condition holds.

Lastly, we need to add any changes to the content of the condition at the end of the code within the while loop to prevent an infinite loop.

In the example below, the i-=1 statement acts as the change to the "content of the condition", allowing for changes in output as well as exiting the loop once i hits 0.

In [68]:
i = 10
while i > 0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

## Exercise 4 (Basic HackerRank problem)

Write a short program that prints each number from 1 to 100 on a new line.

For each multiple of 3, print "Fizz" instead of the number.

For each multiple of 5, print "Buzz" instead of the number.

For numbers which are multiples of both 3 and 5, print "FizzBuzz" instead of the number.

`Hint: Use a Loop and If/Elif/Else statements`

In [69]:
for i in range(1, 100):
  if i % 15 == 0:
    print ('FizzBuzz')
  elif i % 3 == 0:
    print('Fizz')
  elif i % 5 == 0:
    print('Buzz')
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

## Functions

We've seem some built-in functions earlier, which apply some actions to some pieces of data. Functions are essentially blocks of code which can be called multiple times. This can be really useful if you need to call a block of code several times in a Python program, for example.

The structure of a function is as follows:



```
def function_name(parameters):
  commands
  return something
```

`parameters` are the inputs to the function. You can `return` something, meaning once the function is called, it returns an output.

In [70]:
# example function

def add_two_numbers(a, b):
  return a + b

In [71]:
# calling the example function

add_two_numbers(-2, 3)

1

You can do anything with functions. All of the concepts can be applied into functions.

In [72]:
def loop_function(num):
  if num % 2 == 0: # if num is even
    for i in range(num):
      print(i)
  else: # if num is odd
    while num >= 0:
      print(num)
      num -= 1

In [73]:
loop_function(8)

0
1
2
3
4
5
6
7

In [74]:
loop_function(13)

13
12
11
10
9
8
7
6
5
4
3
2
1
0

## Exercise 5

Create a function that outputs `n!`. A factorial of `n` is n x (n-1) x (n-2) x ... x 2 x 1.

For example, 5! is 5 x 4 x 3 x 2 x 1, which is 120

In [75]:
def factorial(num):
  val = 1
  for i in range(1, num+1):
    val = val*i
  return val

#### Test cases

In [76]:
factorial(5) == 120

True

In [77]:
factorial(10) == 3628800

True

In [78]:
factorial(15) == 1307674368000

True